/* ---------- root variables ---------- */

:root {
    --background-dark: rgb(30, 30, 30);
    --top-color: linear-gradient(to right, #720000, crimson, #720000);
    --top-color-desk: linear-gradient(to right, #720000, crimson, #720000);
    --green: linear-gradient(to right, black, black);
    --light-green: rgb(75, 0, 0);
    --light-grey: #f1f1f4;
    --text-color-light: #f1f1f1;
    --text-color-dark: #333;
}

/* ---------- spinner --------------- */

/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #dc143c;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

/* Collap */

[data-collapsible-set="foo"] .collapsible-content {
    margin-bottom: 0;
}

/* Carrausel */

.scroll {
    white-space: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.example-one {
    margin-bottom: .3em;
}

.example-one-header .genre {
    width: 34%;
    float: left;
    margin-top: 2.6em;
    text-align: left;
}

.example-one-header nav {
    width: 66%;
}

.nav-item {
    user-select: none;
    padding: 1em 1.2em .8em 1.2em;
    margin-top: 3.1em;
    color: rgb(167, 167, 167);
    font-size: .9em;
}

.nav-item nav {
    user-select: none;
}

.nav-item:hover {
    color: white;
    cursor: pointer;
}

.caractive {
    color: #fff;
}

.genre,
.nav-item {
    text-align: left;
    padding-top: 1.7em;
    text-transform: uppercase;
}

.genre,
.nav-item,
.vertical-align-middle {
    display: inline-block;
    vertical-align: middle;
}

.genre a {
    font-family: "Arial", sans-serif;
    border: solid rgb(118, 118, 118) 1px;
    border-radius: 2px;
    font-size: .62em;
    letter-spacing: .7px;
    color: #e5e5e5;
    padding: .8em;
    text-decoration: none;
    font-weight: 100;
}

.genre a:hover {
    color: #f8254f;
    border: solid crimson 1px;
}

.example-one .genre {
    margin-top: 2.45em;
}

.scroll::-webkit-scrollbar {
    display: none;
}

/* ---------- general styling ---------- */

html {
    color: var(--text-color-light);
    font-family: Helvetica, Arial, sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
    font-weight: 200;
}

body {
    background-color: rgb(30, 30, 30);
    margin: 0 auto;
    padding-left: 5%;
    padding-right: 5%;
}

#genrer h3 {
    color: white;
    padding-bottom: .02em;
    padding-top: .3em;
    font-weight: 100;
}

#genrer article {
    width: 100%;
    border-bottom: dotted #2e2e2e 1px;
    cursor: pointer;
}

#genrer article:hover {
    background: #2e2e2e;
}

h1 {
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 3px;
}

img {
    max-width: 100%;
    width: 100%;
}

/* ---------- topbar styling ---------- */

.topbar {
    background-image: var(--top-color);
    color: var(--text-color-light);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.3em;
    border-bottom: dotted #720000 1px;
}

.topbar a {
    position: relative;
}

.topbar h2 {
    color: rgba(173, 17, 48, 0);
    margin: 0;
    font-weight: 300;
}

.topbar img {
    width: 6.6em;
    padding: .6em;
    margin-top: .4em;
}

/* ---------- page styling ---------- */

.page {
    display: none;
    /*min heigh is screen heigh minus height of tab and top bar */
    min-height: calc(100vh - 110px);
    background: var(--background-dark);
    animation: fadeIn 0.4s;
    /* padding equals height of tabbar and topbar */
}

/* ---------- logo styling ---------- */

.logo {

    color: white;
    width: 100%;
    max-width: 300px;
}

/* --- flipper */

/* entire container, keeps perspective */

.back p {;
    line-height: 1.2em;
    text-align: left;
    font-size: .9em;
    color: #333;
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 300;
    user-select: none;
}

h3 {
    color: black;
    margin-top: .5em;
    font-size: 1.5em;
}

.front h3 {
    color: black;
    font-weight: 400;
}

h5 {
    color: #393939;
}

.front h5 {
    font-weight: 100;
    margin-top: -1.5em;
    margin-bottom: .8em;
}


.back h3 {
    color: #333;
    text-transform: capitalize;
    font-size: 1.4em;
    font-weight: 400;
    margin-top: .2em;
}

.back h5 {
    margin-top: -1.4em;
    margin-bottom: -.3em;
    color: #7b7b7b;
    font-weight: 100;

}

.backbutt h4 {
    background: rgb(208, 208, 208);
    color: black;
    padding: .5em;
    text-align: center;
    margin: 0 auto;
    border-top: solid white 2px;
    font-weight: 500;
    font-size: .9em;
}

.backbutt h4:hover {
    background: rgb(180, 180, 180);
    cursor: pointer;
}

/* flip when hovered */

.flip-container:active .flipper,
.flip-container.click .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    height: 30em;
    width: 100%;
    margin-bottom: 1em;
}

/*
.front {
    border: solid white 2px;
}

.back {
    border: solid white 2px;
}
*/

.front1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 89%;
}

.front2 {
    background: rgb(208, 208, 208);
    width: 100%;
    min-height: 3.08em;
    position: absolute;
    bottom: 0;
}

.front2 h3 {
    text-transform: capitalize;
}

.backbutt h4.buy {
    border-top: solid white 2px;
    background: crimson;
    color: white;
    letter-spacing: 1.1px;
}

.backbutt h4.buy:hover {
    background: #c40d32;
}

.front {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    cursor: pointer;
}


.back {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: white;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.backbutt {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* flip speed goes here */

.flipper {
    transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */

.front,
.back {
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}

/* ---------- support ------------ */

@supports(-webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) or (clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%)) {
    .message {
        display: none;
    }
}


/* ---------- animations ---------- */

/* fade in */

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@media only screen and (min-width: 700px) {
    #forside {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2%;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 2%;
    }

    body {
        background-color: rgb(30, 30, 30);
        margin: 0 auto;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }

    .topbar {
        background-image: var(--top-color-desk);
    }

    .flip-container,
    .front,
    .back {
        height: 31em;
        margin-bottom: 0 auto;
    }

    .example-one .genre {
        width: 10%;
    }

    .example-one nav {
        width: 89%;
    }

    article {
        display: grid;
        color: black;
    }

    .front {
        border: solid rgb(208, 208, 208) 2px;
    }

    .back {
        border: solid rgb(208, 208, 208) 2px;
    }


    .front h3 {
        font-size: 1.2em;
    }

    .front h5 {
        font-size: .8em;
    }

    .back p {
        margin: 0 auto;
        text-align: left;
        font-size: 1em;
    }

    .back h5 {
        color: #a7a7a7;
        font-weight: 100;
        font-size: .78em;
        margin-bottom: 0;
    }

    .back h3 {
        font-size: 1.2em;
    }

    .backbutt h4 {
        padding: .5em;
        font-size: .9em;
        margin: 0 auto;
    }

    nav {
        text-align: left;
    }

}

@media only screen and (min-width: 1200px) {
    #forside {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 2%;
    }

    .flip-container,
    .front,
    .back {
        margin-bottom: -.2em;
    }

    .front h3 {
        font-size: 1.4em;
    }

    .back h3 {
        font-size: 1.4em;
    }

    .back p {
        font-size: .82em;
    }


    /*
 .grid-posters{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 2%;
    padding-left: 0.5%;
    padding-right: 0.5%;
  }
*/
    article {
        display: grid;
        color: black;
    }
